.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.7;
    
}

.subscribe-button:active {
    opacity: 0.4;
}

.join-button {
    background-color: white;
    border-radius: 2px;
    border-color: rgba(3, 100, 211, 0.767);
    border-width: 1px;
    color:rgb(0, 87, 185);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: solid;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s,
      color 0.15s;

}

.join-button:hover {
    color: white;
    background-color: rgb(0, 87, 185);
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
     background-color: rgba(3, 110, 220, 0.767);
     color: white;
     border: none;
     padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
     border-radius: 18px;
     cursor: pointer; 
     transition: box-shadow 0.15s; 
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
     
}