.request-button {
    background-color: black;
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
} 

.request-button:hover {
    opacity: 0.6;
}

.add-button {
    background-color: rgb(240, 216, 4);
    height: 36px;
    width: 159px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.add-button:hover {
    background-color: rgb(255, 208, 0);
}

.sign-button {
    background-color: rgb(22, 128, 57);
    color: white;
    height: 36px;
    width: 90px;
    border: none;
    font-weight: bold ;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

.sign-button:hover {
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}