.firstName, .lastName {
    margin-bottom: 10px;
}

.email, .password {
    display: block;
    width: 337px;
    margin-bottom: 10px;
}

.signUp {
    width: 345px;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(0, 87, 185);
    font-weight: bold;
}
