p {
    font-family: Verdana;
    margin-bottom: 0;
    margin-top: 0;
}
.htmlCss {  
    font-weight: bold;
    margin-bottom: 2px;
    
}

.pro {
    color: rgb(121, 116, 116);
    font-size: 13px;
    margin-bottom: 20px;
}

.course {
    width: 300px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(54, 189, 60);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
}