
.new {
    color: red;
    text-align: center;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}

.macBook {
    font-weight: bold;
    color: rgb(48, 47, 47);
    text-align: center;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}

.pros {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}

.from {
    font-size: 10px;
    color: rgb(105, 102, 102);
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}

.buy {
    text-align: center;
}

.buys {
    background-color: rgb(10, 96, 255);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    column-gap: 15px;
}

.img {
    width: 50px;
    border-radius: 50px;
}

.text {
    margin-top: 7px;
    /* margin-right: 10px; */
}

.tweet {
    margin-left: 150px;
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
    border: none;
    border-radius: 50px;
    background-color: rgb(63, 129, 216);
    color: white;
}

